.profile__section {
  max-width: 970px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.profile__title {
  margin: 30px auto;
  font-weight: 600;
  color: #323232;
  text-align: left;
}

.profile__header {
  display: flex;
}

.profile__picture {
  border-radius: 12px;
}

.profile__text {
  display: block;
  margin-left: 20px;
  text-align: start;
}

.profile__name {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 5px;
}

.profile__subject {
  font-size: 15px;
  font-weight: 600;
}

.profile__rate {
  display: flex;
}

.gosuInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}

.basicInfo .addedInfo {
  width: 50%;
  text-align: left;
}

.smallTitle {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

.profile__content {
  margin-left: 5px;
  padding: 5px;
  font-size: 16px;
  min-width: 400px;
}